pipeline/Pl_If-condition_Activity.json
{
	"name": "Pl_If-condition_Activity",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob2adf",
						"type": "DatasetReference",
						"parameters": {
							"DS_FileName": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Metadata1').output.columnCount,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Variable False Condition",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Var False",
								"value": "2"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Variable True Condition",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "True Condition variable",
								"value": "1"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Filename": {
				"type": "string"
			}
		},
		"variables": {
			"True Condition variable": {
				"type": "String"
			},
			"Var False": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-09T04:34:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}